@model CheeseMVC.ViewModels.AddMenuItemViewModel

@*@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}*@

<h1>Add Item to Menu: @Model.Menu.Name</h1>

<form asp-controller="Menu" asp-action="AddItem" method="post">
    <div>
        <label asp-for="CheeseID">Cheese</label>
        <p>
        <select asp-for="CheeseID" asp-items="Model.Cheeses"></select>
        </p>
        <span asp-validation-for="CheeseID" style="color: red"></span>
        <br />
    </div>
    <div>
        @*@foreach ()
        {
        <select>
            <option value="@MenuID">@Menu.Name</option>
        </select>*@
        <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
        
    </div>
    <p><input type="submit" value="Add" /></p>
</form> 