@{

}
<h1>Add Cheese</h1>
<form method="post">
    <label for="name">Name</label>
    <p><input name="name" id="name" type="text" /></p>
    <label for="description">Description</label>
    <p><textarea name="description" id="description"></textarea></p>
    <br />
    <p><input type="submit" value="Add" /></p>
</form>