@{

}

<h1>Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>There is no cheese!</p>
}
    <form method="post" action="/Cheese/RemoveCheese">
        @foreach (Cheese cheese in ViewBag.cheeses)
    {
        <div>
            <input type="checkbox" name="rmvcheese" value="@cheese.name">
            <label for="rmvcheese"> @cheese.name: @cheese.description</label>
        </div>

    }
        @if (ViewBag.cheeses.Count > 0)
    {
        <input type="submit" value="Remove Cheese" />
    }
    </form>